name: DevOps Handbook Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-and-secure:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Security Scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'table'
          exit-code: '0'

      - name: Build Docker image
        run: |
          docker build -t handbook-app .
          echo "Image built!"
